/* This is what I used to import the poppins font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


/* Global selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Header CSS container */
/* .mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(186, 186, 192);
    margin-bottom: 2%;
} */

/* The UL container CSS */
.navLinks {
    list-style: none;
}

/* THe CSS for the link */
/* .navLinks li {
    display: inline-block;
    margin: 20px;
} */

/* The text CSS for the button and links */
/* li, a, button {
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;

} */

/* The about section container */
aside {
    display: flex;
    align-items: center;
    height: 200px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background: gray;
    border: solid;
}

/* The header for the aside */
.asideHeader {
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    background: gray;
}

/* All of the CSS for the About Section Image */
#profilePic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0px 0px;
    border-style: solid;
    margin-left: 1%;
}

/* The paragraph CSS for the About section */
#asideP {
    font-size: 20px;
    margin-top: 5px;
    background: gray;
}

/* Projects CSS */
.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* The header for the project card */
/* .cardHeader {
    font-size: 40px;
    margin-top: 10%;
} */

/* Each project card */
.card {
    flex-grow: 4;

}

/* The paragraph for the projects (could be better) */
/* p {
    font-size: 20px;
    margin-top: 25px;
} */

/* CSS for the footer */
/* footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(186, 186, 192);
} */ 

/* List for the footer in case I ever want to add anymore contacts */
/* .foots {
    display: inline-block;
    justify-content: center;
    list-style: none;
    margin-left: 25%;
} */